*{
    margin: 0;
    padding: 0;
}
.tudo{
    width: auto;
    height: auto;
}
.section{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 800px; 
    margin: 50px auto; 
}
.dias-semana{
    display: flex;
    justify-content: space-between;
    width: 810px; 
}
.dias-semana div{
    background-color: aqua;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}
.dias-semana div:nth-child(1){
    border-top-left-radius:  20px;
}
.dias-semana div:nth-child(7){
    border-top-right-radius:  20px;
}
.dias{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}
.dia {
    background-color: lightblue;
    flex: 1 0 8%;
    margin: 5px; 
    text-align: center; 
    padding: 20px; 
}
@media (max-width: 796px) {
    .dias-semana{
        width: 630px; 
    }
    .dias{
        position: relative;
        left: 80px;
        width: 80%;
    }
    .dia{
        flex: 1 0 6%;
    }
}